include README.md
include requirements.txt
recursive-include templates *.html
recursive-include static *.css *.js *.png *.jpg *.jpeg *.gif
recursive-include docs/migrations *.py
recursive-include users/migrations *.py
recursive-include edms *.py
recursive-include media *.png *.jpg *.jpeg *.gif *.pdf  # Включаем медиа-файлы (аватары, документы)